.thumbnail {
    position: relative;
}
.caption {
    position: absolute;
    background-color: white;
    opacity: 0.7;
    text-align: center;
    top: 45%;
    left: 0;
    width: 100%;
    font-weight: bold;
    font-size: 1.5em;
}
.navbar {
    display: inline-block;
}

.btn-outline-success {
    background-color: white;
    outline-color: #0099ff;
    outline-style: solid;
    color: #0099ff;
}
.title {
    font-size: 30px;
}
li {
    list-style: none;
    display: inline-block;
    padding-right: 10px;
}
.bi-person-fill {
    background-color: #0099ff;
    font-style: normal;
    position: relative;
}